In [ ]:
r=int(input("Enter the radius : "))
A=3.14*r*r
print("Area of the circle is",A)

Enter the radius : 3
Area of the circle is 28.259999999999998

In [ ]:
Name=input("Enter the name : ")
Roll_no=input("Enter the roll number : ")
Mark=input("Enter the mark : ")
print("Name :",Name)
print("Roll No :",Roll_no)
print("Mark :",Mark)

Enter the name : Anisha
Enter the roll number : 21
Enter the mark : 78
Name : Anisha
Roll No : 21
Mark : 78

In [ ]:
n=int(input("Enter the number of elements in the list: "))
l=[]
for i in range(0,n):
  l.append(int(input("Enter the element :")))
print("List :",l)
max=l[0]
for j in range(0,n):
  if(l[j]>max):
    max=l[j]
print("Largest number in the list is ",max)

Enter the number of elements in the list: 4
Enter the element :12
Enter the element :3
Enter the element :47
Enter the element :10
List : [12, 3, 47, 10]
Largest number in the list is  47

In [ ]:
for i in range(1,11):
  print("Current number =",i)
  print("Previous number =",i-1)
  print("Sum =",i+i-1)

Current number = 1
Previous number = 0
Sum = 1
Current number = 2
Previous number = 1
Sum = 3
Current number = 3
Previous number = 2
Sum = 5
Current number = 4
Previous number = 3
Sum = 7
Current number = 5
Previous number = 4
Sum = 9
Current number = 6
Previous number = 5
Sum = 11
Current number = 7
Previous number = 6
Sum = 13
Current number = 8
Previous number = 7
Sum = 15
Current number = 9
Previous number = 8
Sum = 17
Current number = 10
Previous number = 9
Sum = 19

In [ ]:
l=[]
n=int(input("Enter the number of elements in the list :"))
for i in range(0,n):
  l.append(int(input("Enter the element :")))
print("The numbers divisible by 5 are :")
for j in l:
  if(j%5==0):
    print(j)

Enter the number of elements in the list :5
Enter the element :10
Enter the element :20
Enter the element :33
Enter the element :46
Enter the element :55
The numbers divisible by 5 are :
10
20
55

In [ ]:
num=int(input("Enter the number : "))
if num==1:
  print(num,"is not prime")
if num>1:
  for i in range(2,num):
    if num%i==0:
      print(num,"is not a prime number")
      break
  else:
      print(num,"is a prime number")

Enter the number : 3
3 is a prime number

In [ ]:
l=[]
n=int(input("Enter the number of elements in the list :"))
for i in range(0,n):
  l.append(int(input("Enter the element :")))
rev_list=[]
for j in range(1,n+1):
  rev_list.append(l[-j])
print("Original list :",l)
print("Reversed list :",rev_list)

Enter the number of elements in the list :4
Enter the element :10
Enter the element :40
Enter the element :30
Enter the element :70
Original list : [10, 40, 30, 70]
Reversed list : [70, 30, 40, 10]

In [ ]:
for i in range(1,5):
  print("*"*i)

*
**
***
****

In [ ]:
num_1 = int(input("Enter the first number :"))
num_2 = int(input("Enter the second number :"))
num_3 = int(input("Enter the third number :"))
if num_1>num_2 and num_1>num_3:
  print("Maximum of the three numbers is",num_1)
elif num_2>num_1 and num_2>num_3:
  print("Maximum of the three numbers is",num_2)
else:
  print("Maximum of the three numbers is",num_3)

Enter the first number :34
Enter the second number :12
Enter the third number :7
Maximum of the three numbers is 34

In [ ]:
for i in range(5):
  for j in range(i):
    print("*",end="")
  print("*")
for k in range(4,0,-1):
  for l in range(k-1,0,-1):
    print("*",end="")
  print("*")

*
**
***
****
*****
****
***
**
*